* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#121724, #31657d);
}

body .estrella1 {
    position: fixed;
    width: 10%;
    left: 25%;
    top: 10%;
}
body .estrella2 {
    position: fixed;
    width: 10%;
    left: 10%;
    top: 70%;
}

body .texto1 {
    color: white;
    position: fixed;
    left: 15%;
    font-family: Gallery;
    font-size: 30px;
    top: 45%;
}
body .texto2 {
    color: white;
    position: fixed;
    left: 15%;
    font-family: Gallery;
    font-size: 30px;
    top: 45%;
    display: none;
}

body .estrella3 {
    position: fixed;
    width: 10%;
    left: 80%;
    top: 80%;
}
.cielo{
    display: block;
}
.contenido {
    position: relative;
    color: white;
    font-family: Gallery;
    text-align: center;
    width: 40%;
    left: 30%;
}
.cielo img {
    position: fixed;
    height: 100%;
}
.contenido video {
    width: 450px;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Gallery";
    src: "Galleryregular.ttf"
}

@media screen and (max-width: 900px) {
    
    .contenido {
        left: none;
        display: block;
        width: 100%;
        left: 0;
}
    .contenido video {
        width: 80%;
    }
    
    .cielo img {
        height: 100%;
        width: 100%;
    }
}